{% extends 'news/principal.html' %}

{% block content %}

<div class="barra-superior">
    <div>
        <h1>Hola {{request.user|title}}</h1>
        <h3 style="margin:0">Tienes <i>{{count}}</i> tarea{{count|pluralize}} incompleta{{count|pluralize}}</h3>
    </div>
    {% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
        {% csrf_token %}
        <button class="boton" type="submit">Salir</button>
    </form>
    {% endif %}
</div>

<div id="envoltorio-agregar-buscar">
    <form method="GET" style="margin-top: 20px; display: flex;">
        <input type="text" name="area-buscar" value="{{valor_buscado}}">
        <input class='boton' type="submit" value="buscar">
    </form>
</div>

<div class="envoltorio-items-tarea">
    <h1>Listado de Noticias Recientes</h1>
    {% if news_list %}
      <ul>
        {% for news in news_list %}
          <li>
            <h2><a href="{{ news.link }}" target="_blank">{{ news.title }}</a></h2>
            <p class="info">
              Publicada por: {{ news.publisher }}<br>
              Tipo de Noticia: {{ news.news_type }}<br>
              Fecha de Publicación: {{ news.published_date|date:"Y-m-d H:i:s" }}
            </p>
            {% if news.related_tickers %}
              <p><strong>Tickers Relacionados:</strong> {{ news.related_tickers }}</p>
            {% endif %}
            {% if news.thumbnail %}
              <p><strong>Thumbnail:</strong> {{ news.thumbnail }}</p>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No se encontraron noticias disponibles.</p>
    {% endif %}
</div>

{% endblock content %}