.stock-card {
  padding: 20px 40px;
  border: 1px solid #2e3042;
  background-color: #191a24;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  &:hover {
    background-color: #0e0f15;
  }
  &__link {
    color: #ffffff66;
    &:hover {
      color: white;
    }
  }
  &__svg {
    fill: #ffffff66;
    &:hover {
      fill: white;
    }
  }
}
