.candleStickChart {
  &__container {
    position: fixed;
    top: 100px;
    left: 80px;
    right: 0;
  }
  &__card {
    padding: 40px;
    background-color: #191a24;
    border: 1px solid #2E3042;
    border-radius: 8px;
    text-align: center;
    color: white;
  }
  &__title {
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 40px;
    font-size: 20px;
  }
  &__inputWrapper {
    margin-bottom: 40px;
  }
  
  &__paragraph {
    display: flex;
    align-items: center;
    font-size: 16px;
    letter-spacing: 1.5px;
  }
  &__input {
    width: 380px;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1.5px;
    line-height: 1.5;
  }
  &__buttons {
    display: flex;
    justify-content: center;
  }
  &__svg {
    padding: 0 10px;
  }
  &__buttonLeft,
  &__buttonRight {
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1.5px;
  }
  &__buttonLeft{
    background-color: #2E3042;
    &:hover {
      background-color: #2E3042b3;
    }
  }
  &__buttonRight {
    background-color: #4055DB;
    &:hover {
      background-color: #4055DBb3;
    }
  }
}