.form-field {
  &__wrapper {
    margin-bottom: 3rem;
    position: relative;
  }
  &__label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    letter-spacing: 1.5px;
    padding-bottom: 10px;
    gap: 10px;
  }
  &__input {
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    letter-spacing: 1.5px;
    line-height: 1.5;
    position: relative;
    z-index: 1;
    background-color: #232533;
    border: 1px solid #42455799;
    color: #e0e0e0;
    &:focus {
      border-color: #9396FB;
      outline: none;
    }
    &--error {
      border-color: #e53e3e;
    }
  }
  &__error {
    z-index: 0;
    text-align: left;
    padding-left: 8px;
    position: absolute;
    top: 28px;
    left: 0;
    color: #e53e3e;
    font-size: 0.875rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, top 0.3s ease, visibility 0.3s;
    &--visible-no-label {
      top: 3.5rem;
      opacity: 1;
      visibility: visible;
    }
    &--visible {
      top: 5.5rem;
      opacity: 1;
      visibility: visible;
    }
  }
}

@media screen and (min-width: 600px) {
  .form-field {
    &__input {
      width: 380px;
    }
  }
}

@media only screen and (max-width: 599px) {
  .form-field {
    &__input {
      width: -webkit-fill-available;
    }
  }
}
