.chart-tooltip {
  background: #000000cc;
  color: white;
  border-radius: 4px;
  &__date {
    margin: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-color: #818181cc;
    padding: 8px;
    background: #818181cc;
  }
  &__data {
    margin: 8px;
  }
  &__hr {
    margin: 8px 0;
  }
  &__new-title {
    padding: 0 8px;
    font-style: italic;
    font-size: 0.85em;
    max-width: 100px;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    margin-bottom: 8px;
  }
  &__text {
    &--bold {
      font-weight: 700;
    }
  }
}
