.analysis {
  &__header {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
  }
  &__label--positive {
    color: #059669;
  }
  &__label--negative {
    color: #f87171;
  }
  &__label--neutral {
    color: #ccc;
  }
}
